{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
<style>

.btn{
    border-color: rgba(0, 0, 0, 0.677);
  }
.sepr{
    background-image: linear-gradient(rgb(242, 246, 243), rgba(225, 236, 229, 0.437)),url({{seperation.image.url}});
    background-repeat: no-repeat;
    background-size: cover;
}
.sepr .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 5px;
}

.sep{
  font-size:500;
  padding : 80px;
}
.title{
  justify-content: center;
  margin-top: 110px;
}
</style>

{% endblock head %}

{% block body %}
<div class="margin" style="height: 100px;"> </div>
<div class="container">
    <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="true" data-bs-ride="carousel">
    <div class="carousel-inner  mb-4 rounded ">
      {% for carousel in carousel %}
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{{carousel.image.url}}" class="d-block w-100" height="300" alt="...">
      </div>
      {%endfor%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="about pt-3 ">
    <div class="row g-0 mb-4 ">
      <h4 class="text-center text-uppercase title-featured">
        {{aboutus.name}}
      </h4>
    </div>

    <div class="row g-0  d-flex justify-content-center   mx-md-5  ">
      <div class="main-content col-lg-9 align-self-center quote-section">
        <div class="main-content__subtitle text-center" style="white-space: pre-wrap;">{{aboutus.discription1}}

          {{aboutus.discription2}}

          {{aboutus.discription3}}
        </div>
      </div> 
    </div>
  </div>

  <div id="seperation" class="sepr mb-3 pt-10 rounded">
    <div class="row g-0 mt-10 mb-4 d-flex justify-content-center  pb-5 ">
      <div class="col-md-4  text-uppercase text-center align-self-center ">
        <h4 class="mb-5 title ">{{seperation.name}}</h4>

        <a href="{% url 'contact' %}"><button class="btn btn-invert py-2 mt-5">Contacs Us</button></a>
      </div>
      <div class="col-md-8 align-self-center quote-section text-center sep ">
        {{seperation.discription}}
      </div>
    </div>
  </div>
</div>

  
{% endblock body %}
